* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-family: sans-serif, Times;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsla(0, 0%, 0%, 0.555);
}

.wrapper {
    width: 400px;
    height: min-content;
    background-color: #fff;
    border-radius: 12px;
    padding: 10px;
}

.search-box {
    width: 100%;
    height: min-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-box input {
    width: 84%;
    font-size: 20px;
    text-transform: capitalize;
    background-color: #e6f5fb;
    padding: 12px 16px;
    border-radius: 8px;
    border: 1px solid hsla(197, 41%, 65%, 0.711);
}

.search-box input::placeholder {
    color: #000;
}

.search-box button {
    width: 46px;
    height: 46px;
    background-color: #e6f5fb;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    border: 1px solid hsla(197, 41%, 65%, 0.711);
    transition: 0.3s ease-in-out;
}

.search-box button:hover {
    color: #fff;
    background-color: #000;
}

.weather-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px 0;
}

.weather-body img {
    width: 60%;
}

.weather-box {
    margin: 20px 0;
    text-align: center;
}

.temperature {
    font-size: 40px;
    font-weight: 800;
    position: relative;
}

.temperature sup {
    font-size: 20px;
    position: absolute;
    font-weight: 600;
}

.discription {
    font-size: 20px;
    font-weight: 700;
    /* text-transform: capitalize; */
}

.wether-deatails {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.humidity,
.wind {
    display: flex;
    align-items: center;
}

.humidity {
    margin-left: 20px;
}

.wind {
    margin-right: 20px;
}

.humd-i {
    font-size: 36px;
}

.wether-deatails .text {
    margin-left: 10px;
    font-size: 16px;
}

.text span {
    font-size: 20px;
    font-weight: 700;
}

.location-not-found h1 {
    font-size: 20px;
    color: #6b6b6b;
    margin-bottom: 1.3rem;
}

.location-not-found {
    margin-top: 20px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 27.5rem;
}

.location-not-found img {
    width: 80%;
}



/* responsive  */


@media only screen and (max-width: 400px) {
    .wrapper {
        width: 375px;
    }
}


    
@media only screen and (max-width: 320px) {

    .wrapper {
        width: 300px;
    }

    .search-box input {
        width: 75%;
        font-size: 17px;
        padding: 10px 12px;
    }

    .weather-body {
        margin: 0;
    }

    .temperature {
        font-size: 35px;
    }

    .discription {
        font-size: 18px;
    }

    .wether-deatails {
        margin-top: 10px;
    }

    .humidity {
        margin-left: 8px;
    }

    .wind {
        margin-right: 8px;
    }

    .text span {
        font-size: 18px;
    }

    .wether-deatails .text {
        font-size: 15px;
    }

    .humd-i {
        font-size: 28px;
    }
}